/firstapp/package-lock.json
/firstapp/node_modules

/2.JSX/package-lock.json
/2.JSX/node_modules

/3.Components/package-lock.json
/3.Components/node_modules

/4.Props_Movie_Mini_Project/package-lock.json
/4.Props_Movie_Mini_Project/node_modules

/5.Hooks_useState/package-lock.json
/5.Hooks_useState/node_modules


/6.Digital_Clock/package-lock.json
/6.Digital_Clock/node_modules